/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "Source Sans";
    src: url("font/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: "Source Sans Light";
    src: url("font/SourceSansPro-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: "Source Sans";
    src: url("font/SourceSansPro-Semibold.otf");
    font-weight: 600;
}

.bar.bar-crossmark {
    border-color: #b2b2b2;
    background-color: #FFF;
    
    color: #444; 
}
    .bar.bar-crossmark .title {
		color: #444;
		
	}
    .bar.bar-crossmark.bar-footer {
    	background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%); 
  	}

.profile {

}

.profile.header {
    background-color: #000;
}